<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Developer Index</h1>
	<br>
	<ul>
		<%developers.forEach((elem, i) => { %>
			<li><a href="/developers/<%=elem.id%>"><%=elem.name%></a></li>
		<%})%>
	</ul>
	<br>
	<a href="/developers/new">Add developer</a>
</body>
</html>