<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add a Developer</h1>
	<br>
	<form method="Post" action="/developers/">
		Name: <input type="text" name="name"><br>
		Founded: <input type="text" name="founded"><br>
		Country: <input type="text" name="country"><br>
		Games: <input type="text" name="games"><br>
		<input type="submit">
	</form>
</body>
</html>