<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add a Classic Game</h1>
	<br>
	<form method="Post" action="/games/">
		Name: <input type="text" name="name"><br>
		Developer: 
		<select name="developer">
			<%developer.forEach((elem, i) => {%>
				<option value="<%=elem.name%>"><%=elem.name%></option>	
			<%})%>
		</select>
		<br>
		Year: <input type="date" name="year"><br>
		<input type="submit">
	</form>
	<br>
</body>
</html>